<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!-- This file should be in WEB-INF/Classes Folder-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} %-5level %logger{5}- %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.vaadin.demo" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>